body {
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  max-width: 900px;
  align-items: center;
  margin-top: 10px;
  margin: 0 auto;
  padding: 30px 50px 30px 30px;
  border-radius: 5px;
  box-shadow: rgba(73, 73, 82, 0.8) 0px 10px 10px 0;
  background: #eaf6f6;
  max-height: 1200px;
}
.search-weather-now {
  max-width: 400px;
}
h1 {
  top: 0;
  font-size: 34px;
  line-height: 48px;
  display: block;
  text-align: center;
  font-weight: 900;
  color: #272044;
  border-radius: 3px;
  box-shadow: rgb(53 53 62 / 30%) 0px 2px 8px 0;
  background: white;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
  color: #926e71;
}
h5 {
  text-align: center;
  text-decoration: bold;
  color: #66bfbf;
  font-size: 1rem;
}
.cityData .active:hover {
  text-decoration: none;
  color: #f76b8a;
  cursor: default;
}
a {
  text-decoration: none;
  color: #f76b8a;
  font-size: 11px;
}

.additional {
  font-size: 28px;
  color: #f76b8a;
}
.btn-outline-secondary {
  color: rgba(20, 101, 90, 0.8);
  border-color: rgba(20, 101, 90, 0.8);
}
.card-img-top {
  width: 50%;
  margin: 0 auto;
}

.col-2 {
  padding-right: 0px;
  padding-left: 16px;
}

.col-4 {
  padding-left: 11px;
}

.myCity {
  padding: 55px 5px 55px 20px;
  width: 280px;
  text-align: center;
  width: 230px;
  margin: 10px 680px 10px 3px;
  border-radius: 5px;
  border-width: 1em;
  border-color: #17a2b8;
  color: #17a2b8;
  background-color: transparent;
  box-shadow: rgba(20, 101, 90, 0.8);
  box-sizing: border-box;
}

.cityData {
  margin: 10px 680px 10px -10px;
  /* border-radius: 5px;
  box-shadow: rgba(20, 101, 90, 0.8) 0px 2px 2px 0;
  background: white; */
  width: 230px;
  text-align: center;
}

.card-body {
  text-align: center;
}

.card {
  box-shadow: rgba(20, 101, 90, 0.8) 0px 2px 2px 0;
}
.row .cityData {
  margin: 15px 50px 40px -90px;
}

.forecast-temp-min {
  opacity: 50%;
}
.main-image {
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(20, 101, 90, 0.8) 0px 2px 2px 0;
}
.dataContainer {
  width: 200px;
  float: right;
  margin-top: -580px;
}
form {
  max-width: 600px;
}

.row {
  max-width: 678px;
  margin-right: -82px;
  margin-left: 18px;
}

.col-6 {
  padding-left: 11px;
}

.footer {
  display: block;
  text-align: center;
  margin: 20px auto;
  color: #063634;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
